<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DOTO</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <link rel="stylesheet" href="styles/main.css" />
  </head>
  <body>
    <main class="post-container">
      <h1 class="post-h">New Post</h1>
      <form action="/" method="post">
        <h3 class="input-h3">Write your header</h3>
        <input type="text" class="input-header" name="inputHeader" required />

        <h3 class="input-h3">Write your post</h3>
        <textarea
          class="input-paragraph"
          name="inputParagraph"
          rows="6"
          required
        ></textarea>

        <h3 class="input-h3">Write your name</h3>
        <input type="text" class="input-author" name="inputAuthor" required />
        <div class="btn-container">
          <input type="submit" name="submit-btn" class="sub-btn" value="Post" />
          <button class="new-post" onclick="window.location.href='/'">
            Back
          </button>
        </div>
      </form>
    </main>
  </body>
</html>
