<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DOTO</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <link rel="stylesheet" href="styles/main.css" />
  </head>
  <body>
    <main class="container">
      <h1 class="post-h">New Post</h1>
      <form action="/" method="post">
        <h3 class="input-header">Write your header</h3>
        <input type="text" class="input-header" name="inputHeader" required />

        <h3 class="input-paragraph">Write your post</h3>
        <input
          type="text"
          class="input-paragraph"
          name="inputParagraph"
          required
        />

        <label for="input-author">Write your name</label>
        <input type="text" class="input-author" name="inputAuthor" required />

        <input type="submit" name="submit-btn" class="sub-btn" value="Post" />
      </form>
    </main>
  </body>
</html>
