<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DOTO</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <link rel="stylesheet" href="styles/main.css" />
  </head>
  <body>
    <main class="container single-container">
      <section class="blog single-blog">
        <h1 class="blog-h single-blog-h"><%= editPost.header %></h1>
        <div class="flex">
          <p class="date single-date"><%= editPost.date %></p>
          <p class="author single-author"><%= editPost.author %></p>
        </div>
        <article class="blog-text single-blog-text">
          <%= editPost.paragraph %>
        </article>

        <div class="btn-container">
          <button class="new-post" onclick="window.location.href='/'">
            Back
          </button>
        </div>
      </section>
    </main>
  </body>
</html>
