<%- include("partials/header.ejs") %>

<main class="container">
  <h1>My blog</h1>
  <button class="new-post"></button>

  <section class="blog">
    <h2 class="blog-h"></h2>
    <p class="date"></p>
    <article class="blog-text"></article>
    <p class="author"></p>
    <div class="btn-container">
      <button class="edit"></button>
      <button class="delete"></button>
    </div>
  </section>
</main>

<script>
  $(document).ready(function () {});
</script>

<%-include("partials/footer.ejs") %>
