/* Common Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
  }

  .single-container {
    min-height: 95vh;
  }
  
  .post-h {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  /* Main Page Styles */
  .blog {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0;
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  }

  .single-blog {
    min-height: 80vh;
  }
  
  .blog-h {
    width: 100%;
    text-align: left;
    font-size: 1.5rem;
    color: #333;
    margin: 0;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .single-blog-h {
    text-align: center;
    font-size: 2rem;
  }
  
  .date {
    font-size: 0.8rem;
    color: #999;
  }
  
  .blog-text {
    font-size: 1rem;
    margin-top: 10px;
    color: #444;
  }

  .single-blog-text {
    margin-top: 15px;
    margin-bottom: 20px;
  }
  
  .author {
    font-size: 1rem;
    font-weight: bold;
    margin-top: 10px;
    color: #334e69;
  }

  .single-author {
    margin: 11px;
  }

.flex {
  display: flex;
  gap: 20px;
}
  
  .btn-container {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
  }
  
  .container-form {
    display: inline-block;
  }
  
  .edit,
  .delete {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 10px; /* Rounded borders */
    transition: background-color 0.3s ease; /* Smooth hover effect */
  }
  
  .new-post {
    background-color: #4caf50; /* Green */
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 10px; /* Rounded borders */
    transition: background-color 0.3s ease; /* Smooth hover effect */
  }
  
  /* Hover effect */
  .edit:hover,
  .delete:hover,
  .new-post:hover {
    background-color: #0056b3; /* Darker blue */
  }
  
  /* Post Adding Page Styles */
  .post-container {
    max-width: 800px; /* Increased max width */
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  }
  
  .input-header,
  .input-paragraph,
  .input-author {
    font-size: 1rem;
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px; /* Rounded borders */
  }

  
  .sub-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 15px; /* Rounded borders */
    transition: background-color 0.3s ease; /* Smooth hover effect */
  }
  
  /* Hover effect */
  .sub-btn:hover {
    background-color: #0056b3; /* Darker blue */
  }
  
  /* Post Editing Page Styles */
  .edit-container {
    max-width: 800px; /* Increased max width */
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  }
  
  /* Add any additional styles as needed */
  
  